<li id="post-comment-<%= @post.id %>">
	<p class="new"><%= comment.content %>
		<sub class="new"><%= comment.user.email %></sub>
	</p>
	<% if user_signed_in? && comment.user_id ==  current_user.id %>
		<p class="new"><%= link_to "Delete", destroy_comment_path(comment.id), method: :delete, remote: true %></p>
		<% end %>

</li>
